@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F7F2FA;
}
::-webkit-scrollbar-thumb {
  background: #CAC4D0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #625B71;
}
